@charset "UTF-8";
a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

h2 {
  font-family: 'Hannari','Noto Serif JP', serif;
  font-size: 24px;
  color: #727171;
  line-height: 1.6em;
  margin-top: 60px;
  padding: 0 15px;
}

img {
  width: 100%;
}

p, li {
  font-family: 'ヒラギノ角ゴシック';
}

.margin-bottom {
  margin-bottom: 20px !important;
}

.margin-top {
  margin-top: 31px !important;
}

.padding {
  padding: 0 20px !important;
}

/*resetcssで消えた上付き文字の修正*/
sup {
  vertical-align: top;
  font-size: large;
}

/*修正ここまで*/
/*ここからパララックス*/
.pararax-fromleft {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  /* 最初は元の位置より左にずらしておく */
  opacity: 0;
  /* 最初は非表示にしておく */
  -webkit-transition: opacity 2s,-webkit-transform 3s;
  transition: opacity 2s,-webkit-transform 3s;
  transition: opacity 2s,transform 3s;
  transition: opacity 2s,transform 3s,-webkit-transform 3s;
  /* 透明度と位置を設定 */
}

.pararax-fromright {
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
  /* 最初は元の位置より右にずらしておく */
  opacity: 0;
  /* 最初は非表示にしておく */
  -webkit-transition: opacity 2s,-webkit-transform 3s;
  transition: opacity 2s,-webkit-transform 3s;
  transition: opacity 2s,transform 3s;
  transition: opacity 2s,transform 3s,-webkit-transform 3s;
  /* 透明度と位置を設定 */
}

.fadein {
  opacity: 1;
  /* 表示させる */
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
  /* 位置を最初の位置に戻す */
}

.move {
  opacity: 1;
  /* 表示させる */
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  /* 位置を最初の位置に戻す */
}

.background-color {
  padding: 10px;
}

.move1 {
  opacity: 1;
  /* 表示させる */
  -webkit-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
  /* 位置を最初の位置に戻す */
  margin-left: 40px;
}

/*パララックスのズレを調節*/
#wrap {
  width: 100%;
  overflow: hidden;
}

/*ズレの調節ここまで*/
/*パララックスここまで*/
.first-view__pc {
  display: none;
}

.recommend {
  padding-left: 30px;
  margin-top: 50px;
}

.recommend ul {
  margin-bottom: 90px;
}

.recommend span {
  font-weight: bold;
}

header p {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid #4C3D3D;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title__logo {
  color: #F4A441;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: normal;
  border: none;
}

.title__image {
  display: block !important;
  width: 60px !important;
}

.recommend li {
  font-size: 17px;
  line-height: 1.7em;
}

.explain {
  margin-top: 40px;
}

.explain h2 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.5em;
}

.explain p {
  font-size: 17px;
  line-height: 1.8em;
  margin-bottom: 20px;
  padding: 0 15px;
}

.explain-title {
  margin-top: 10px;
  margin-left: 10px;
}

.step {
  text-align: center;
}

.step li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.step .step--background {
  background-color: #F19CA7;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  width: 96px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px !important;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  margin: 0 auto;
}

.lists a {
  font-size: 11px;
  color: #0a0a0a;
  line-height: 1.3em;
}

.lists p {
  margin-top: 20px !important;
  margin-bottom: 20px;
  text-decoration: underline;
  width: 100px;
  margin: 0 auto;
}

.lists .list {
  width: 165px;
  margin-top: 20px;
}

.lists .list__image {
  width: auto;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.lists .list__image--change {
  width: auto !important;
  height: 10vh !important;
  display: block;
  margin-top: 20px;
  margin: 0 auto;
}

.lists .list p:nth-of-type(1) {
  text-align: initial;
  line-height: 1.3em;
}

.item-margintop {
  margin-top: 102px !important;
}

.center {
  text-align: center;
  margin: 60px 0;
}

.item-h2 {
  font-size: 30px;
  font-weight: bold;
}

.method-step {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #EEEDED;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.method-step__first {
  color: #D68F41;
  font-size: 23px;
  margin-bottom: 10px;
}

.method-step__explain {
  font-size: 30px;
  color: #727171;
}

#step > p {
  font-size: 17px;
  line-height: 1.8em;
}

.about-item__image {
  width: auto;
  height: 250px;
}

.about-item__image2 {
  width: auto;
  height: 130px;
}

.about-item__about-item__main-texture {
  font-size: 17px;
  color: #D68F41;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about-item p {
  line-height: 1.8em;
}

.image-center {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.component {
  margin-top: 20px;
  border-bottom: 1px dotted #D68F41;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.component .texture1 {
  width: 300px;
}

.component .texture1__name {
  color: #D68F41;
}

.component .texture1__explain {
  font-size: 17px;
  line-height: 1.8em;
}

.component__image {
  display: block !important;
  width: 100px !important;
  margin-left: 20px;
}

.left-position {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.method {
  margin-bottom: 40px;
}

.method > div {
  text-align: center;
}

.method > div .method--bgc {
  font-size: 17px;
  padding: 10px;
  background-color: #E8E8EA;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.method .display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.method .display-flex p {
  font-size: 17px;
  line-height: 1.8em;
  margin-bottom: 10px;
  text-align: initial;
}

.method .display-flex img {
  width: 140px !important;
  display: block !important;
}

.point p {
  font-size: 17px;
  line-height: 1.8em;
}

.point div {
  text-align: center;
}

.point div .method--bgc {
  padding: 10px;
  background-color: #E8E8EA;
  display: inline-block;
  border-radius: 15px;
  margin-bottom: 15px;
}

.name-price {
  margin-bottom: 90px;
}

.name-price__name {
  margin-top: 50px;
  font-size: 24px;
  color: #D68F41;
  margin-bottom: 10px;
}

.name-price p:first-child {
  font-size: 20px;
  color: #D68F41;
  margin-bottom: 10px;
}

.name-price p:last-child {
  font-size: 14px;
  line-height: 1.4em;
}

.name-price__price p:last-child {
  margin-bottom: 20px;
}

.name-price .order-caution {
  font-weight: bold;
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.another-font {
  font-size: 17px;
  line-height: 1.8em;
  text-align: initial;
}

.massage {
  font-size: 24px;
  color: #D68F41;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.place__image {
  display: block !important;
  width: 168px !important;
}

.place__display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.place p {
  width: 43vw;
  font-size: 17px;
  line-height: 1.8em;
  margin-top: 25px;
}

.place__color {
  color: #BD9D63;
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
}

.place-margin {
  margin-top: 40px;
}

/*ここから購入ボタン*/
.order a {
  height: 10vh;
  line-height: 10vh;
  background-color: #07ba3d;
  text-align: center;
  color: #fff;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0 1px 8px #000001;
          box-shadow: 0 1px 8px #000001;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.order a:hover {
  opacity: 0.9;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: rgba(7, 186, 61, 0.9);
}

/*ここまで購入ボタン*/
footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer a {
  color: black;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 35px !important;
  }
  .margin-top {
    margin-top: 63px !important;
  }
  .recommend {
    padding-right: 30px;
  }
  .recommend li {
    font-size: 22px;
  }
  .title__logo {
    font-size: 40px;
  }
  .title__image {
    width: 100px;
  }
  .step .step--background {
    width: 100px !important;
  }
  .step li {
    font-size: 22px;
  }
  .explain p {
    font-size: 22px;
  }
  .lists {
    width: 600px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .lists .list {
    width: 269px;
    margin-top: 30px;
  }
  .lists .list p {
    font-size: 20px;
    width: 269px;
    margin: 10px auto 0;
  }
  .method-step {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .method-step__first, .method-step__explain {
    font-size: 30px !important;
  }
  #step p {
    font-size: 22px;
  }
  .component .texture1 {
    width: 350px;
  }
  .component img {
    width: 150px;
  }
  .name-price__name, .name-price__price {
    font-size: 27px !important;
  }
  .point .method--bgc {
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .order a {
    font-size: 22px;
  }
  .order-caution {
    font-size: 25px !important;
  }
  .massage {
    font-size: 35px;
  }
  .left-position {
    padding-left: 92px;
    width: 710px;
  }
  .place__color {
    font-size: 30px;
  }
  .place p {
    font-size: 22px;
  }
  .another-font {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .title img {
    width: 150px !important;
  }
  .about-item__image {
    height: 400px;
  }
  .method img {
    width: 200px !important;
  }
  .component img {
    width: 8.5vw;
    height: auto;
    margin-bottom: 20px;
  }
  .left-position {
    padding-left: 84px;
  }
  .first-view__pc {
    display: block;
  }
  .first-view__smart {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */